SI-MAPS/WMS/Productorders/DI043 Products master data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Classificator">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="DirName" type="xs:string" />
          <xs:element name="ClassName" type="xs:string" />
          <xs:element name="Ware">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="WareId" type="xs:string" />
                <xs:element name="WareName" type="xs:string" />
                <xs:element name="BaseUnitId" type="xs:string" />
                <xs:element name="DefaultDespatchUnitId" type="xs:string" />
                <xs:element name="EANBaseUnitId" type="xs:string" />
                <xs:element name="EAN" type="xs:string" />
                <xs:element minOccurs="0" name="UsedPeriod" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Unit">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="UnitId" type="xs:string" />
                <xs:element name="UnitName" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="UnitFactor">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="WareId" type="xs:string" />
                <xs:element name="UnitId" type="xs:string" />
                <xs:element name="FactorValue" type="xs:decimal" />
                <xs:element name="WeightNetto" type="xs:decimal" />
                <xs:element name="Volume" type="xs:decimal" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>